body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  margin-left: 10px;
  height: 50px;
}

nav {
  display: inline-block;
}

nav a {
  color: inherit;
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

section {
  margin-top: 69px;
  padding-top: 69px;
}

section.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  width: 1200px;
  align-items: center;
}

div.mission-text {
  display: block;
  align-items: center;
  width: 100%;
  background-color: black;
}

section.feature {
  display: block;
  width: 1050px;
}

div.tea-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.tea {
  display: inline-block;
  width: 300px;
  margin: 0 25px;
  font-weight: bold;
}

div.tea img {
  height: 200px;
  width: 300px;
  margin: 10px auto;
}

section.locations {
  text-align: center;
  background-image: url("../img-locations-background.jpg");
  height: 500px;
  width: 1200px;
}

section.locations h2 {
  text-align: center;
  margin: 10px;
}

div.store-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: black;
  margin: 5px 20px;
  opacity: 1;
}

div.store h3 {
  padding: 15px;
}

footer div.cozy-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px
}

#copyright {
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
}
